<ion-view view-title="Tu Cocina Virtual" left-buttons="leftButtons" right-buttons="rightButtons">
  <ion-slide-box does-continue="true" slide-interval="1000" on-slide-changed="slideChanged(index)">
    <ion-slide>
      <div class="promo">
        <h1>Promo 1</h1>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="promo">
        <h1>Promo 2</h1>
      </div>
    </ion-slide>
  </ion-slide-box>

 <ion-content class="content-home">

  <div class="row columna">
      <div class="col co-100 menu-content">
        <div class="card">
          <div class="item item-divider">
            Opciones
          </div>
          <div class="item item-text-wrap">
            <div class="col co-100 no-padding">
            <div class="row no-padding">
                <div class="col col-50 no-padding">
                  <div class="menu-item">
                    <a href="#/menu-categorias">
                      <div class="ver-menu">
                        <i class="ion-ios-email-outline icon-menu"></i>
                        <p>Ver Menú</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col col-50 no-padding">
                  <div class="menu-item">
                    <a href="">
                      <div class="promociones">
                        <i class="ion-ios-email-outline icon-menu"></i>
                        <p>Promociones</p>
                      </div>
                    </a>
                  </div>
                </div>
            </div>
            </div>

            <div class="col co-100 no-padding">
            <div class="row no-padding">
                <div class="col col-50 no-padding">
                  <div class="menu-item">
                    <a href="">
                      <div class="tu-pedido">
                        <i class="ion-ios-email-outline icon-menu"></i>
                        <p>Tu pedido</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col col-50 no-padding">
                  <div class="menu-item">
                    <a href="">
                      <div class="pedir-cuenta">
                        <i class="ion-ios-email-outline icon-menu"></i>
                        <p>Pedir cuenta</p>
                      </div>
                    </a>
                  </div>
                </div>
            </div>
            </div>

            <div class="col co-100 no-padding">
            <div class="row no-padding">
                <div class="col col-100 no-padding">
                  <div class="menu-item">
                    <a href="">
                      <div class="llamar-mesero">
                        <i class="ion-ios-email-outline icon-menu"></i>
                        <p>Llamar mesero</p>
                      </div>
                    </a>
                  </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</ion-content>
</ion-view>