<ion-view view-title="Tu Cocina Virtual">
  <ion-content class="content">
    <div class="row columna">
      <div class="col col-100 pedidos-list">
         <div class="card">
          <div class="item item-divider">
            Mesa asignada
          </div>
          <div class="item item-text-wrap">
              <!-- <button ng-click="showPopup()" class="button button-block button-balanced">
                Ingresar numero mesa
              </button> -->
                
              <a ng-click="showPopup()" class="cuadro-menu" href="">
                <div class="menu-item-mesa">
                  <i class="ion-ios-compose-outline"></i>
                  <p>Numero Mesa</p>
                </div>
              </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>