<ion-view view-title="Tu Cocina Virtual">
  <ion-content class="content">
<!--     <div class="row columna">
      <div class="col col-100 barra-info">
        <a href=""><p> <i class="ion-ios-arrow-left"></i> Hamburguesa doble carne</p></a>
      </div>
    </div> -->

    <div class="row columna">
      <div class="col col-100 pedidos-list">
        <div class="card">
          <!-- <div class="item item-divider">
            Plato
          </div> -->
          <div class="item item-text-wrap">
            <p>{{plato.nombrePlato}}</p>
            <div class="foto-plato item item-image">
                <img src="img/hamburguesa.jpg" alt="">
                <p>Precio: <span >${{plato.valor}}</span></p>
            </div>

            <div class="cantidad">
                Cantidad: <span>{{cantidad}}</span>
                <button ng-click="mas()" class="button button-small button-balanced item-button-right">+</button>
                <button ng-click="menos()" class="button button-small button-assertive item-button-right">-</button>
            </div>

            <div class="btn-pedir">
                <button ng-click="resumen()" class="button button-block button-balanced"> <i class="ion-ios-plus-outline"></i> Agregar al pedido</button>
            </div>
             <div class="item item-divider">
              <i class="icon ion-clipboard"></i>
              Seleccionar Ingredientes 
              </h1>
            </div>
            <div class="ingredientes">
                <ul class="list">
                  <div id="dinamicos">
                  <li class="item item-checkbox" ng-repeat="ingrediente in ingredientes">
                    <form name="frmIngredientes">
                     
                       <label class="checkbox">
                        
                         <input ng-click="noSelect(ingrediente.nombreIngrediente)" checked="checked" type="checkbox" value="{{ingrediente.nombreIngrediente}}">
                       
                       </label>
                       {{ingrediente.nombreIngrediente}}
                      
                     </form>
                  </li>
                   </div>
                </ul>
            </div>
            <div class="item item-divider">
              <i class="icon ion-clipboard"></i>
                Adionales
              </h1>
            </div>
            <div class="adicionales">
              <ul class="list">
                  <li class="item item-checkbox item-button-right" ng-repeat="adicional in adicionales">
                     <label class="checkbox">
                       <input ng-model="activo" ng-change="ingredientesSeleccionados(adicional.valor)" type="checkbox">
                     </label>
                     {{adicional.nombreAdicional}}
                     <button class="button button-clear ">${{adicional.valor}}</button>
                  </li>
              </ul>
            </div>
          </div>
       <!--    <div class="item item-divider">
            Total: $20000
          </div> -->
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>