<ion-view view-title="Tu Cocina Virtual">
  <ion-content class="content">
      <div class="row columna">
      <!-- <div class="col co-100 menu-content"> -->
        <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
              <i class="icon ion-ios-search placeholder-icon"></i>
              <input size="4" type="search" placeholder="Buscar platos">
          </label>
          <button class="button button-clear">
              Cancel
          </button>
        </div>
      <!-- </div> -->
  </div>


    <div class="row columna">
      <div class="col col-100 platos-list">
      <div class="list">
          <a class="item item-thumbnail-left" href="#/pedidos">
            <img src="img/hamburguesa.jpg">
            <h2>Hamburguesas del Oeste
            </h2>
            <p>Calle 92 # 11 - 32
          <div class="item-info">
              <i class="ion-clipboard item1"></i>
            </div>
            </p>
            <p>Hamburguesas</p>
          </a>
      </div>
      <div class="list">
          <a class="item item-thumbnail-left" href="#">
            <img src="img/hamburguesa.jpg">
            <h2>Hamburguesas del Oeste
            </h2>
            <p>Calle 92 # 11 - 32
          <div class="item-info">
              <i class="ion-clipboard item1"></i>
            </div>
            </p>
            <p>Hamburguesas</p>
          </a>
      </div>
      <div class="list">
          <a class="item item-thumbnail-left" href="#">
            <img src="img/hamburguesa.jpg">
            <h2>Hamburguesas del Oeste
            </h2>
            <p>Calle 92 # 11 - 32
          <div class="item-info">
              <i class="ion-clipboard item1"></i>
            </div>
            </p>
            <p>Hamburguesas</p>
          </a>
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>