<ion-view view-title="Tu Cocina Virtual">
  <ion-content class="content">
      <div class="row columna">
      <!-- <div class="col co-100 menu-content"> -->
        <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
              <i class="icon ion-ios-search placeholder-icon"></i>
              <input size="4" type="search" placeholder="Buscar platos">
          </label>
          <button class="button button-clear">
              Cancel
          </button>
        </div>
      <!-- </div> -->
  </div>


    <div class="row columna">
      <div class="col col-100 platos-list">
      <div class="list" ng-repeat="plato in platos">
          <a class="item item-thumbnail-left" href="" ng-click="ingre(plato._id)">
            <img src="img/hamburguesa.jpg">
            <h2>{{plato.nombrePlato}}
            </h2>
            <p>{{plato.descripcion}}
            <div class="item-info">
              ${{plato.valor}}
            </div>
            </p>
            <p>{{plato.idCategoria.nombreCategoria}}</p>
          </a>
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>