<ion-view view-title="Tu Cocina Virtual">
  <ion-content class="content">
    <!-- <div class="row columna">
      <div class="col col-100 barra-info">
        <a href=""><p> <i class="ion-ios-arrow-left"></i> Tu pedido</p></a>
      </div>
    </div> -->

    <div class="row columna">
      <div class="col col-100 pedidos-list">
         <div class="card">
          <div class="item item-divider">
            Resumen de tu pedido
          </div>
          <div class="item item-text-wrap">
            <div class="list">
                <a class="item" href="" ng-repeat="pe in pedido">
                  <!-- <i class="icon ion-mic-a"></i> -->
                  {{pe.plato}}
                  <span class="item-note">
                    ${{pe.precio}}
                  </span>
                </a>
            </div>
          </div>
          <div>
            <!-- <button ng-click="otro_plato()" class="button button-block button-positive">
              Agregr otro plato
            </button> -->
          </div>
          <div class="item item-divider">
            <h2> Total: ${{precioFinal}}</h2>
          </div>
        </div>
          <div>
            <button ng-click="confirmarPedido()" class="button button-block button-balanced" ng-show="hacerPedido">
              HACER PEDIDO
            </button>
          </div>
      </div>
    </div>
  </ion-content>
</ion-view>